<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN" "http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="file">
	<!-- 1. 저장
	변하는 부분에 #프로퍼티#을 해주면 자동으로 따옴표로 감싸준다.
	변하는 부분에 $프로퍼티$을 해주면 자동으로 따옴표를 붙이지 않는다. 필드명이나 테이블명은 $를 사용
	-->
	<insert id="insert" parameterClass="FileBoardFileVO">
		insert into fileboard_file
			(ref,ofile,sfile)
		values
			(#ref#,#ofile#,#sfile#)
	</insert>
	<!-- 2. 1개 삭제 -->
	<delete id="deleteByIdx" parameterClass="int">
		delete from fiboard_file where idx=#idx#
	</delete>
	<!-- 3. ref가 같은 모든 파일 삭제 -->
	<delete id="deleteByRef" parameterClass="int">
		delete from fiboard_file where ref=#ref#
	</delete>
	<!-- 4. 개수 -->
	<select id="selectCountByRef" parameterClass="int" resultClass="int">
		select count(*) from fileboard_file where ref=#ref#
	</select>
</sqlMap>